@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}


/* style */

:root {
  --animation-duration: 0.8s;
  --bckgnd-basic: #0A090D;
  --bckgnd-elem-light: #D0D1D9;
  --bckgnd-elem-dark: #342F40;
  --accent-color-light: #F2EA72;
  --accent-color-dark: #F2D06B;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: var(--bckgnd-elem-light);
  background-color: var(--bckgnd-basic);
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}


/* cards */
.game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 150px;
  margin-bottom: 155px;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  list-style: none;
  perspective: 1000px;
}


.card {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 180px;
  height: 260px;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid var(--bckgnd-elem-light);
  cursor: pointer;
  transition: transform var(--animation-duration);
  transform-style: preserve-3d;
  position: relative;
}

.card img {
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}


.card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}

.card-errors::after {
  background: url("../img/middle-ages/light/light-card-shirt.png") 50% 50%/cover no-repeat;
}

.card-time::after {
  background: url("../img/middle-ages/dark/night-card-shirt.png") 50% 50%/cover no-repeat;
}


.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: url("../img/middle-ages/check-l.svg") 50% 50%/cover no-repeat rgba(147, 148, 144, 0.6);
  opacity: 0;
  transition-property: opacity;
  z-index: 10;
}

.card:not(.card-show):not(.card-finished):hover {
  box-shadow: 0 6px 16px rgba(140, 174, 200, 0.6);
  transform: scale(1.03);
}


.card-show {
  transform: rotateY(180deg);
  cursor: default;
}


.card-finished {
  transform: rotateY(180deg);
  cursor: default;
}

.card-error {
  border: 1px solid #cf1a1a;
}

.card-finished::before {
  opacity: 1;
  transition-delay: var(--animation-duration);
  transition-duration: var(--animation-duration);
  transition-timing-function: ease-in-out;
}

.game .cards-button {
  display: flex;
  align-items: center;
  max-width: 200px;
  padding: 5px 8px;
  font-size: 12px;
  transition: var(--animation-duration);
}

.game .cards-button img,
.rules-choise__btn img {
  max-width: 20px;
  margin-right: 5px;
}

.game .cards-button:hover {
  box-shadow: 0 3px 10px 3px #f8f7e5;
}

/* rules */

.rules {
  max-width: 600px;
  padding: 50px 70px;
  text-align: center;
  background-color: var(--bckgnd-elem-dark);
  border-radius: 20px;
}

.rules h2 {
  margin-bottom: 50px;
  font-size: 34px;
}

.rules-panel p {
  line-height: 30px;
  margin-bottom: 40px;
  font-size: 20px;
  color: var(--accent-color-dark);
}

.rules-choise p {
  margin-bottom: 5px;
  font-size: 18px;
}

.btn {
  width: 100%;
  padding: 20px 16px;
  font-size: 16px;
  border-radius: 10px;
  background: var(--accent-color-light);
  color: var(--bckgnd-basic);
  cursor: pointer;
  position: relative;
}

.rules-choise__btn {
  max-width: 150px;
  transition: all .8s linear 0s;
  position: relative;
  z-index: 1;
}

.rules-choise__btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(to right bottom, #ece24a 0%, #f5ef9d 50%, #ece24a 100%);
  opacity: 0;
  transition: opacity 0.4s linear;
  z-index: -1;
}

.rules-choise__btn:hover::before {
  opacity: 1;
}

.rules-choise__btn:not(:last-child) {
  margin-right: 20px;
}

/* popup end game*/

.mask-off {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.mask-on {
  width: 100%;
  height: 100vh;
  background-color: rgba(32, 28, 32, 0.9);
  z-index: 2;
  opacity: 1;
  visibility: visible;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 2s ease, visibility 2s ease;
}

.btn-end {
  padding: 5px;
}

/* counter */

.counter {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.counter-field__time {
  color: var(--accent-color-dark);
}